.oauth{
    width: 100vw;
    height: 100vh;
    background-color: #030303;
    overflow-y: auto;
    padding-bottom: 20px;
}
.oauth::-webkit-scrollbar{
    width: 5px;
}
.oauth::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: gray;
}
.oauth-body{
    width: 100%;
    height: auto;
    padding-top: 100px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.google-auth-inner{
    width: 450px;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-input{
    width: 96%;
    height: auto;
    margin: 10px 0px 0px 0px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}
.username-input input{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    background-color: transparent;
    color: white;
}
.username-input input:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.3);
}
.message{
    width: 96%;
    height: auto;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.9em;
    border-radius: 3px;
    /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3); */
}
.message p{
    margin: 1px 0px;
}

.profile-box{
    width: 96%;
    height: 130px;
    border-radius: 5px;
    /* background-color: rgba(31,31,41,1); */
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.1);
    /* background-color: white; */
    /* box-shadow: 0px 0px 30px rgba(0,0,0,0.3); */
    display: flex;
    justify-content: center;
}
.profile-picture{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}
.inner-picture{
    width: 70px;
    height: 70px;
    /* background-color: white; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.inner-picture img{
    width: 100%;
    height: auto;
}

.profile-details{
    max-width: 300px;
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}
.middle{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.upper,.lower{
    font-weight: 600;
    color: white;
    font-family: "Montserrat";
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.upper{
    font-size: 1.8em;
    letter-spacing: -1px;
    margin-bottom: 10px;
    padding-right: 10px;
}
.lower{
    font-size: 1em;
    color: rgba(255,255,255,0.5);
}

.oauth-button,.oauth-signout-button,.oauth-req-sent{
    background-color: #066bff;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
}
.oauth-signout-button,.oauth-req-sent{
    margin-top: 20px;
    /* background-color: rgba(31,31,41,1); */
    /* background-color: rgba(255,255,255,0.5); */
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.5);
}
.oauth-button:hover,.oauth-button:focus{
    /* background-color: #066dff; */
    color: white;
    /* border: 1px solid rgba(255,255,255,0.5); */
}
.oauth-signout-button:hover,.oauth-signout-button:focus{
    color: white;
    /* border: 3px solid rgba(255,255,255,0.5); */
}
.oauth-req-sent{
    border: 1px solid rgba(255,255,255,0.2);
    color: rgba(255,255,255,0.2);
    cursor: auto;
}

.question{
    color: white;
    font-size: 0.9em;
}